.container{
    width:1200 ;
    margin: 0 auto;
}
.list li{
    float: left;
    margin-top: 20px;
    /* border: 1px ghostwhite solid; */
    padding-left: 30px;
    font-size: 20px;
}
.list{
    padding-left: 200px;
}
img{
    width: 20px;
    height: 20px;
}
.container{
    background-color: rgb(233, 223, 223);
    width: 1280px;
    height: 130px;
}
h3{
    padding-left: 220px;
    padding-top: 40px;
    font-size: 19px;
    font-size: 24px;
}
.task{
    margin-left: 220px;
    margin-top: 30px;
    background-color: orange;
    color:#fff;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
.footer{
    width: 900px;
    height: 100px;
    border: 1px rgb(219, 219, 226) solid;
    margin-top: 50px;
    margin-left: 220px;
}
.footer h3{
    position:absolute;
    left: 30px;
    top:270px;
}
.footer span{
    position:absolute;
    left: 1030px;
    top:310px;
    font-size: 24px;
    color: aqua;
}
.text{
    padding-top: 60px;
    padding-left: 20px;
}
.footer p{
    position:absolute;
    left: 1000px;
    top:350px;
    font-size: 24px;
    color:orange;
}